name: Pre-Deployment Check

# env:
#   TEMPLATE: './templates/mainTemplate.json'

on: 
  pull_request:
    types: [opened]
    
  push:
    branches: master
    paths: 
      #- ".github/workflows/PreDeployment.yml"
      - "templates/**"
    
jobs:
#   security:
#     runs-on: ubuntu-latest
#     steps:
#     - uses: actions/checkout@master
#     - name: Run Snyk to check for vulnerabilities
#       uses: snyk/actions/dotnet@master
#       env:
#         SNYK_TOKEN: eb0f42c4-3fa2-4c51-9141-f43cc613d0c6
  # JOB to run change detection
  changes:
    runs-on: ubuntu-latest
    # Set job outputs to values from filter step
    outputs:
      templates : ${{ steps.filter.outputs.templates }}
      src: ${{ steps.filter.outputs.src }}
      templates_files: ${{ steps.filter.outputs.templates_files }}
    steps:
    # For pull requests it's not necessary to checkout the code
    - name: Checkout source code
      uses: actions/checkout@v2.3.3
      
    - uses: dorny/paths-filter@v2
      id: filter
      
      with:
        list-files: json
        filters: |
          templates:
            - 'templates/**'
          src:
            - 'src/**'
 
    - name: Test ARM Results Input files
      shell: bash
      run: |
          echo ${{ steps.filter.templates_files }}
          
  test-arm-template:
    needs: changes
    if: ${{ needs.changes.outputs.templates == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v2.3.3
        
      - name: Run Test ARM Templates
        id: pathtest
        
        uses: aliencube/arm-ttk-actions@v0.3
        with:
          path: ${{ needs.changes.outputs.templates_files}}

      - name: Test ARM Results
        shell: bash
        continue-on-error: false
        run: |
          echo ${{steps.pathtest.outputs.results}}
